GOOGLE_API_KEY="AIzaSyCuRiMftX0hIzSAhsAAMJQH_CwDHXeBD3w"
MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/codebase_rag?retryWrites=true&w=majority"
PORT=3000
AI_SERVICE_URL="http://localhost:8000"
